@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body { color: #112d39; font-family: 'Comfortaa', cursive;
	background-image: url(forest4k.jpg);
  	background-repeat: no-repeat;
 	background-attachment: fixed;
  	background-size: cover; }

h1 {text-align: center;}

hr {
    border: none;
    color: #112d39;
    background-color: #112d39;
    height: 2px;
}

table {
	border: none;
	margin: 0 auto;
	font-size: 25px;
    width: 600px;
    color: #112d39;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
    position: relative;
}

td {
    padding: 5px;
    text-align: center;
    font-size: 18px;
    width: 120px;
}

th {
    padding: 5px;
    width: 120px;
    text-align: center;
}

tr:nth-child(even) { 
    background-color: #112d39;
    color: #bfc3cc;
}

tr:nth-child(odd) { 
    background-color: rgba(191,195,204, 0.5);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}

.text {
    float: left;
    margin: 0;
    margin-top: 30px;
}

.center {
    width: 600px;
    height: 80px;
    margin: auto;
}

.input {
    width: 60px;
    float: left;
    outline: none;
    border: none;
    background-color: #112d39;
    border-radius: 10px;
    color: #bfc3cc;
    text-align: center;
    margin-top: 30px;
}

.button {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    float: right;
    outline: none;
    background-color: rgba(191,195,204, 0.4);
    transition: 0.6s linear;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
}

.pole {
    margin-left: 130px;
    width: 400px;
}


.button:hover {
    background-color: #112d39;
    color: #bfc3cc;
}

.highlight {
    transition: 0.4s linear;
}

.highlight:hover {
    background-color: rgba(175,2,0, 0.5);
}